/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Oswald');
 
/* Offer setting tab */
 hr.text-success{
 	border-bottom: 2px solid #3c763d;
 }
 .app-caption{
    padding: 15px 0;
 }
 div.display-option .checkbox-inline{
    padding-left: 12px;
 }
 div.preview-dialog{
 	text-align: center;
 	position: fixed;
 	right: 20px;
 	top: 35%;
 	border: 5px double gray;
 	width: 555px;
 	height: 350px;
 	box-shadow: 0 0 5px grey;
 }
 .main-content{
 	overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;    
 }
.round-star-label {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  position: relative;
  border: none;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  top: -70px;
  left: 0;

}

.round-star-label::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: none;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  text-shadow: none;
  -webkit-transform: rotateZ(30deg)   ;
  transform: rotateZ(30deg)   ;
}

.round-star-label::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: none;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  text-shadow: none;
  -webkit-transform: rotateZ(60deg);
  transform: rotateZ(60deg);
}

/* Ribbon */
.ribbon {
    position: relative;
    width: 80%;
    margin: 0;
    z-index: 1000;
    bottom: -48px;
    right: -8px;
}

.ribbon:before,
.ribbon i:before {
    content: '';
    position: absolute;
    bottom: -4px;
    border: 12px solid #c45045;
}

.ribbon:before {
    left: -26px;
    border-left-color: transparent;
    -webkit-transform: rotate(-16deg);
       -moz-transform: rotate(-16deg);
        -ms-transform: rotate(-16deg);
         -o-transform: rotate(-16deg);
            transform: rotate(-16deg);
}
.oldie .ribbon:before {
    left: -48px;
}

.ribbon i:before {
    right: -26px;
    border-right-color: transparent;
    -webkit-transform: rotate(16deg);
       -moz-transform: rotate(16deg);
        -ms-transform: rotate(16deg);
         -o-transform: rotate(16deg);
            transform: rotate(16deg);
    z-index: -1;
}
.oldie .ribbon i:before {
    right: -48px;
}

.ribbon i:after,
.ribbon u:after {
    content: '';
    position: absolute;
    border-style: solid;
    bottom: -4px;
    z-index: 0;
}

.ribbon i:after {
    right: -16px;
    border-color: transparent transparent transparent #a33d33;
    border-width: 0 0 4px 16px;
}

.ribbon u:after {
    left: 0;
    border-color: transparent #a33d33 transparent transparent;
    border-width: 0 16px 4px 0;
}

.ribbon u {
    display: block;
    position: relative;
    width: 100%;
    left: -16px;
    padding: 8px 12px 12px;
    background: #d0726a;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0726a), to(#c7574d));
    background-image: -webkit-linear-gradient(#d0726a, #c7574d);
    background-image:    -moz-linear-gradient(#d0726a, #c7574d);
    background-image:     -ms-linear-gradient(#d0726a, #c7574d);
    background-image:         linear-gradient(#d0726a, #c7574d);
    -webkit-border-top-left-radius: 50% 8px;
            border-top-left-radius: 50% 8px;
    -webkit-border-top-right-radius: 50% 8px;
            border-top-right-radius: 50% 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 1px gray, 0 2px 1px gray;
    font-size: 15px;
    font-style: normal;
}
.oldie .ribbon u {
    padding: 0 16px;
    *left: 0px;
    *padding: 0;
}

.ribbon u {
    left: 0;
    margin: 0 -16px;
    width: auto;
}

.ribbon u::selection { background-color: #a33d33; }
.ribbon u::-moz-selection { background-color: #a33d33; }

.ribbon u:before,
.ribbon:after {
    content: '';
    position: absolute;
    height: 8px;
    left: 0;
    bottom: 0;
    -webkit-border-top-left-radius: 50% 8px;
            border-top-left-radius: 50% 8px;
    -webkit-border-top-right-radius: 50% 8px;
            border-top-right-radius: 50% 8px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .3);
}
.oldie .ribbon u:before,
.oldie .ribbon:after {
    content: none;
}

.ribbon u:before {
    width: 100%;
    background: #a33d33;
}

.ribbon:after {
    width: 100%;
    background: #1abc9c;
    z-index: 1;
}
.star-text{
    position: absolute;
    z-index: 1000;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    padding: 5px 0;
    text-shadow: 2px 2px 1px gray;
}

.arrow-right {
  background-color: #444;
  height: 400px;
  left: -200px;
  position: absolute;
  bottom: -300px;
  width: 400px;  
  -webkit-transform: rotate(-60deg);
}

 a#btn{
 	padding: 5px 20px;
 	border-radius: 3px;
 	box-shadow: 0 0 3px gray;
 	text-decoration: none;
 	font-size: 22px;
    position: absolute;
    bottom: 10px;
    right: 100px;
    transition: 1s all ease;
 }
 a#btn:hover{
    transform: scale(1.2);
 }

 #option2 .use-code{
    padding: 50px 20px;
    border-radius: 3px;
    margin-right: 10px;
 }


 div.preview-bar{
 	position: fixed;
 	bottom: 0;
 	right: 20px;
 	width: 555px;
 	font-size: 15px;
 	text-align: center;
 	padding: 5px;
 	border-radius: 3px;
 	box-shadow: 0 0 5px grey;
 }
 

 #result{
 	display: none;
 }
 #resultModal .modal-title{
 	text-transform: capitalize;
 	font-weight: bold;
 }
 .glyphicon-refresh-animate {
 	-animation: spin .7s infinite linear;
 	-webkit-animation: spin2 .7s infinite linear;
 }

 @-webkit-keyframes spin2 {
 	from { -webkit-transform: rotate(0deg);}
 	to { -webkit-transform: rotate(360deg);}
 }

 @keyframes spin {
 	from { transform: scale(1) rotate(0deg);}
 	to { transform: scale(1) rotate(360deg);}
 }

 .bs-dropdown-to-select-group .dropdown-menu li a{
 	cursor: pointer;
 }
 .pop-product-img{
 	transition: all 2s ease;
 }

 /* Report tab */
.meterWrapper{
	width: 19%;
    margin-right: 1%;
    padding: 16px 10px;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    float: left;
}
.meterWrapper>h2{
	font-size: 20px;
    line-height: 20px;
    color: #A29D9D;
    font-weight: 600;
}
.meterCount{
	font-size: 40px;
    line-height: 60px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #524747;
}
.meterPrice{
	 color: #777;
   font-size: 18px;
}
.hms-div{
  margin-left: 20px;
  text-align: center;
}
.hms-div p{
  color: #777;
  font-size: 12px;
}
.hms-div div{
  border-radius: 2px;
  background: #fff;
  color: #ff0000;
  font-size: 25px;
  width: 50px;
  box-shadow: 0 0 2px gray;
  padding: 10px 0;
}